body 
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

   .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .register-container h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-group input[type="submit"] {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  .message-box {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
  }

  .error-message {
    color: red;
    background-color: #FFCACA;
    border: 1px solid #FF5A5A;
  } 

  .form-group a {
    color: #007bff; 
    text-decoration: none; 
    font-size: 14px; 
    display: block; 
    margin-top: 10px;
    text-align: center;
  }
  

  .form-group a:hover {
    text-decoration: none; 
    color: #0056b3; 
  }