<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="page">
        <nav class="navbar">
          <img src="your-logo.png" alt="Logo">
          <ul>
            <li><a href="/home" class="active">Home</a></li>
            <li><a href="/workouts">My Workouts</a></li>
          </ul>
          <div class="logout-button">
            <a href="/logout" >Logout</a>
          </div>
        </nav>
        <div class="main-content">
          <div class="workouts-section">
            <div class="workouts-section-header">
                <span>Workouts done today</span>
                <div class="add-workout-button"><a href="/home">Add workout</a></div>
            </div>
            <div class="workout-list">
                <ul>

                </ul>
            </div>
          </div>
        </div>
    </div>
</body>
</html>